 //*****
// 992+

@media screen and (min-width: 992px) {

	
	 //*****
	// BASE

	h2 {
		font-size: 70px;
		margin: 0 0 1.5em 0;
		text-align: center;
	}


	 //************
	// $COMPONENTS

	// $JADORE, $SKILLS

	.skills {
		.col {
			min-width: auto;
		}
		p {
			display: block;
		}
		ul {
			.font-size(18);
		}
	}

	
	// $HIRE-ME

	.hire-me {
		.font-size(28);
	}

}